[user]
	name = Deep Dhillon
	email = deep@dhillon.io

[core]
	editor = nvim

[merge]
	conflictstyle = zdiff3

[pull]
	rebase = true

[push]
	autoSetupRemote = true

[rerere]
	enabled = true

[init]
	defaultBranch = main

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[include]
	path = ~/.gitconfig.local
